.cardDe {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    img {
        max-width: 100%;
        border-radius: 8px 8px 0 0;
    }

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

    &:active {
        transform: translateY(-10px);
    }
}

.finishPurchase {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .finishPurchase:hover {
    background-color: #218838;
  }