

.add{
 
border: solid;
width: 200px;
height:100px;


    .addCart{
        
        height: 50px;
        width: 180px;
        
        text-align: center;
        display: flex;
        justify-content: space-around;
        margin-left: 10px;
        button{
            width: 20px;
            height: 20px;
            font-size: 40px;
            border: none;
            background-color: white;
            text-align: center;
        }
        h1{
            padding-top: 5px;
            font-size: 30px;
        }
        
    }  

    .bAddCart{
        width: 140px;
        height: 30px;
        font-size: 14px;
        border: solid rgb(62, 175, 206);
        color: rgb(62, 175, 206);
        background-color: white;
        margin-left: 30px;
        margin-top: 2px;
        padding-top: 2px;
    }
}


